.sticky-note {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  cursor: grab;
  transition: all 1s;

  &--text {
    width: 100%;
    text-align: center;
  }

  &.holding{
    display: none;
    cursor: grabbing;
  }

  &--front, 
  &--back {
    position: absolute;
    top: 0;
    left: 0; 
    display: flex;
    width: 200px;
    height: 200px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background: yellow;
    align-items: center;
    backface-visibility: hidden;
    transition: all 1s;

    .flip &{
      transform: rotateY(180deg);
    }
  }

  &--back {
    display: none;
    content: '';
    background: blue;
    transform: rotateY(-180deg);
    
    .enable-back &{
      display: block;
    }
    .flip &{
      transform: rotateY(0);
    }
  }

  &.flip {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3) !important; 
  }
}

.note-editor {
  position: fixed;
  bottom: 0;
  right: 0;
  background: red;
  padding: 25px;

  > * {
    display: block;
  }
}